*{
    margin: 0;
    padding: 0;
}

/* Fonts */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* Colors and shared styles */
.secondary-bgc{
    background-color: #FFF8F3;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    /* margin-left: 20px; */
    margin-top: 0px;
    
}

/* Nav styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
    padding-top: 50px;
}

.nav-elements{
    margin-right: -30px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 35px;
    color: rgb(250, 250, 250);
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

.title-r{
    color: #FD6E0A;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    
}

nav ul{
    display: flex;
    align-items: center;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 233px;
}

.banner-content{
    max-width: 585px;
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin-top: 200px;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-description{
    font-size: 18px;
    margin-top:30px;
    margin-bottom: 35px;
}

.profile-pic{
    width: 585px;
    margin-top: 80px;
}

.Contact{
    margin-left: 30px;
    background-color: #fff;
    border: 2px solid #FD6E0A ;
    color: #FD6E0A;
}

/* main styles */
main{
    max-width: 1080px;
    margin: auto;
}
/* About styles */
.about{
    border-radius: 10px;
    padding:130px 155px ;
    margin-top: 130px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.about-item > p{
    color: #757575;
}

.about-item > h4 {
    color: #474747;
}

/* skills styles */

.text-style{
    text-align: center;
    /* padding: 130px 345px 50px 345px; */
}

.skills{
    margin-top: 100px;
    margin-bottom: 130px;
}

.skills-container{
    display: flex;
    gap: 25px;
   
}

.skill{
    padding: 33px;
    border-radius: 7px;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.1);
}

.skill-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* resume styles */
.resume-section{
    margin-bottom: 112px;
}
.resume{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 112px;
}

.resume-title{
    text-align: center;
}

.education, .experience{
    font-size: 30px;
}
.degree{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}

.degree-from{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-description {
    font-size: 16px;
    margin-bottom: 30px;
    text-spacing-trim: 5px;
}

.downld-cv-btn{
    text-align: center;
    margin-top: 50px;

}
